# Bags of Words

In [2]:
import pandas as pd
import numpy as np
import collections

In [10]:
doc1 = 'Harry Potter is an amzing movie !'
doc2 = 'Harry Potter is the best movie !'
doc3 = 'Harry Potter is so great !'

In [11]:
# thực hiện việc loại bỏ tất cả ký tự đặc biệt và dấu câu khỏi chuỗi, chỉ chừa lại các chữ cái và số, 
# sau đó chuyển tất cả chữ cái về dạng chữ thường. Mục đích là để chuẩn hóa dữ liệu văn bản, 
# giúp dễ dàng xử lý và phân tích hơn.
import re
doc1 = re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower()).split()
doc2 = re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower()).split()
doc3 = re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower()).split()
doc1

['harry', 'potter', 'is', 'so', 'great']

In [12]:
doc2

['harry', 'potter', 'is', 'the', 'best', 'movie']

In [13]:
doc3

['harry', 'potter', 'is', 'so', 'great']

In [14]:
all_words = set(doc1+doc2+doc3)
all_words

{'amzing',
 'an',
 'best',
 'great',
 'harry',
 'is',
 'movie',
 'potter',
 'so',
 'the'}

In [21]:
def BOWrepresentation(all_words, doc):
    bow = dict.fromkeys(all_words,0)
    for word in doc:
        bow[word] = doc.count(word)
    return bow

In [23]:
bow1 = BOWrepresentation(all_words,doc1)
bow1

{'so': 0,
 'harry': 1,
 'is': 1,
 'great': 0,
 'potter': 1,
 'movie': 1,
 'best': 0,
 'an': 1,
 'amzing': 1,
 'the': 0}

In [24]:
bow2 = BOWrepresentation(all_words,doc2)
bow3 = BOWrepresentation(all_words,doc3)
df_bow = pd.DataFrame([bow1,bow2,bow3])
df_bow

   so  harry  is  great  potter  movie  best  an  amzing  the
0   0      1   1      0       1      1     0   1       1    0
1   0      1   1      0       1      1     1   0       0    1
2   1      1   1      1       1      0     0   0       0    0

# Scikit Learn

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(binary = True)#Sentiment Classification
doc1 = 'Harry Potter is an amzing movie !'
doc2 = 'Harry Potter is the best movie !'
doc3 = 'Harry Potter is so great !'
cv_out = cv.fit_transform([doc1,doc2,doc3])

In [32]:
cv_out.toarray()

array([[1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
       [0, 0, 1, 0, 1, 1, 1, 1, 0, 1],
       [0, 0, 0, 1, 1, 1, 0, 1, 1, 0]], dtype=int64)

In [36]:
pd.DataFrame(cv_out.toarray(),columns = cv.get_feature_names_out())

   amzing  an  best  great  harry  is  movie  potter  so  the
0       1   1     0      0      1   1      1       1   0    0
1       0   0     1      0      1   1      1       1   0    1
2       0   0     0      1      1   1      0       1   1    0

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer() # Counting of how many times a word is being used
doc1 = 'Harry Potter is an amazing movie , harry '
doc2 = 'Harry Potter is the best movie !'
doc3 = 'Harry Potter is so great !'
cv_out = cv.fit_transform([doc1,doc2,doc3])
pd.DataFrame(cv_out.toarray(),columns = cv.get_feature_names_out())

   amazing  an  best  great  harry  is  movie  potter  so  the
0        1   1     0      0      2   1      1       1   0    0
1        0   0     1      0      1   1      1       1   0    1
2        0   0     0      1      1   1      0       1   1    0

# TF-IDF

In [11]:
# Important - when a word is repeated in a document, but not present in any other document (sentence)
# stopwords - score will be less
# unique words repeat in a sentence will be high

import pandas as pd
from math import *
import sklearn

first_sent = "Data Science is an amazing career in the current world"
second_sent = "Deep learning is a subset of machine learning"

first_sent = first_sent.split(" ")
second_sent = second_sent.split(' ')
vocab = set(first_sent).union(set(second_sent))
vocab

{'Data',
 'Deep',
 'Science',
 'a',
 'amazing',
 'an',
 'career',
 'current',
 'in',
 'is',
 'learning',
 'machine',
 'of',
 'subset',
 'the',
 'world'}

In [12]:
# dict.fromkeys() là một phương thức được sử dụng để tạo một từ điển (dictionary) mới từ một danh sách các khóa (keys) 
# được chỉ định và giá trị mặc định cho tất cả các khóa đó.
wordDict1 = dict.fromkeys(vocab,0)
wordDict2 = dict.fromkeys(vocab,0)
wordDict1

{'in': 0,
 'an': 0,
 'Data': 0,
 'machine': 0,
 'learning': 0,
 'Science': 0,
 'is': 0,
 'a': 0,
 'the': 0,
 'amazing': 0,
 'Deep': 0,
 'subset': 0,
 'current': 0,
 'of': 0,
 'world': 0,
 'career': 0}

In [13]:
wordDict2

{'in': 0,
 'an': 0,
 'Data': 0,
 'machine': 0,
 'learning': 0,
 'Science': 0,
 'is': 0,
 'a': 0,
 'the': 0,
 'amazing': 0,
 'Deep': 0,
 'subset': 0,
 'current': 0,
 'of': 0,
 'world': 0,
 'career': 0}

In [14]:
for word in first_sent:
    wordDict1[word]+=1
for word in second_sent:
    wordDict2[word]+=1

In [15]:
wordDict1

{'in': 1,
 'an': 1,
 'Data': 1,
 'machine': 0,
 'learning': 0,
 'Science': 1,
 'is': 1,
 'a': 0,
 'the': 1,
 'amazing': 1,
 'Deep': 0,
 'subset': 0,
 'current': 1,
 'of': 0,
 'world': 1,
 'career': 1}

In [17]:
wordDict2

{'in': 0,
 'an': 0,
 'Data': 0,
 'machine': 1,
 'learning': 2,
 'Science': 0,
 'is': 1,
 'a': 1,
 'the': 0,
 'amazing': 0,
 'Deep': 1,
 'subset': 1,
 'current': 0,
 'of': 1,
 'world': 0,
 'career': 0}

In [18]:
df = pd.DataFrame([wordDict1,wordDict2])
df

,in,an,Data,machine,learning,Science,is,a,the,amazing,Deep,subset,current,of,world,career
0,1,1,1,0,0,1,1,0,1,1,0,0,1,0,1,1
1,0,0,0,1,2,0,1,1,0,0,1,1,0,1,0,0

In [19]:
# tf = freq of a word in a document/total number of words in a document
def calculate (wordDict, doc):
    tfDict = {}
    len_corpus = len(doc)
    for word,count in wordDict.items():
        tfDict[word] = count/len_corpus
    return tfDict

In [26]:
tf1 = calculate(wordDict1,first_sent)
tf2 = calculate(wordDict2,second_sent)
pf1 = pd.DataFrame([tf1,tf2])
pf1

,in,an,Data,machine,learning,Science,is,a,the,amazing,Deep,subset,current,of,world,career
0,0.1,0.1,0.1,0.000,0.00,0.1,0.100,0.000,0.1,0.1,0.000,0.000,0.1,0.000,0.1,0.1
1,0.0,0.0,0.0,0.125,0.25,0.0,0.125,0.125,0.0,0.0,0.125,0.125,0.0,0.125,0.0,0.0

In [29]:
import nltk 
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [35]:
f1 = [word for word in wordDict1 if word.lower() not in stopwords.words('english')]
f2 = [word for word in wordDict2 if word.lower() not in stopwords.words('english')]

In [36]:
f1

['Data',
 'machine',
 'learning',
 'Science',
 'amazing',
 'Deep',
 'subset',
 'current',
 'world',
 'career']

In [34]:
f2

['Data',
 'machine',
 'learning',
 'Science',
 'amazing',
 'Deep',
 'subset',
 'current',
 'world',
 'career']

In [47]:
def calculateIDF(doc):
    idfDict = {}
    len_corpus = len(doc)
    idfDict = dict.fromkeys(doc[0].keys(),0)
    for word,val in idfDict.items():
        idfDict[word] = log10(len_corpus/(float(val)+1))
    return idfDict

In [48]:
idfs = calculateIDF([wordDict1,wordDict2])
idfs

{'in': 0.3010299956639812,
 'an': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'machine': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'Science': 0.3010299956639812,
 'is': 0.3010299956639812,
 'a': 0.3010299956639812,
 'the': 0.3010299956639812,
 'amazing': 0.3010299956639812,
 'Deep': 0.3010299956639812,
 'subset': 0.3010299956639812,
 'current': 0.3010299956639812,
 'of': 0.3010299956639812,
 'world': 0.3010299956639812,
 'career': 0.3010299956639812}

In [49]:
def computeTFIDF(tfBow,idfs):
    tfidf = {}
    for word,val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return (tfidf)

In [51]:
idf1 =  computeTFIDF(tf1,idfs)
idf2 = computeTFIDF(tf2,idfs)
idf = pd.DataFrame([idf1,idf2])
idf

,in,an,Data,machine,learning,Science,is,a,the,amazing,Deep,subset,current,of,world,career
0,0.030103,0.030103,0.030103,0.000000,0.000000,0.030103,0.030103,0.000000,0.030103,0.030103,0.000000,0.000000,0.030103,0.000000,0.030103,0.030103
1,0.000000,0.000000,0.000000,0.037629,0.075257,0.000000,0.037629,0.037629,0.000000,0.000000,0.037629,0.037629,0.000000,0.037629,0.000000,0.000000

# Sklear Library

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
first_sent = "Data Science is an amazing carreer in the  cuurent world"
second_sent = "Deep Learning is a subset of machine learning"
vec= TfidfVectorizer()
result = vec.fit_transform([first_sent,second_sent])
result.toarray()
ps = pd.DataFrame(result.toarray(), columns = vec.get_feature_names_out())
ps

,amazing,an,carreer,cuurent,data,deep,in,is,learning,machine,of,science,subset,the,world
0,0.324336,0.324336,0.324336,0.324336,0.324336,0.000000,0.324336,0.230768,0.000000,0.000000,0.000000,0.324336,0.000000,0.324336,0.324336
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.342871,0.000000,0.243956,0.685743,0.342871,0.342871,0.000000,0.342871,0.000000,0.000000

# TF_IDF Sratch Implementation

In [60]:
from collections import Counter
from tqdm import tqdm
from scipy.sparse import csr_matrix
import math
import operator
from sklearn.preprocessing import normalize
import numpy as np

In [66]:
# corpus là một collection chứa các nhiều các văn bản
corpus = ['this is the first document','this document is the second document'
         ,'and this is the third one','is this the first document']
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()
result = vec.fit_transform(corpus).toarray()
ps = pd.DataFrame(result, columns = vec.get_feature_names_out())
ps

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085